Effets des variables macroéconomiques sur le CAC 40

In [33]:
import pandas as pd
import numpy as np
from datetime import datetime
!pip install openpyxl

Requirement already satisfied: openpyxl in /opt/conda/lib/python3.12/site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in /opt/conda/lib/python3.12/site-packages (from openpyxl) (2.0.0)

Chargement des fichiers Excel qui forment la base de donnée

In [34]:
chomage = pd.read_excel('Chômage_depuis1975.xlsx')
confiance = pd.read_excel('Confiance_ménages.xlsx')
ev_pib = pd.read_excel('Evolution_PIB_trimestre.xlsx')
ipc = pd.read_excel('IPC_depuis1991.xlsx')

Nettoyage des données

In [35]:
chomage.head()

,Tableau 1. Taux de chômage trimestriel au sens du BIT en France (hors Mayotte) par sexe et âge,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,"Données CVS en moyenne trimestrielle, en %",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,En jaune : Les séries ont été constituées à pa...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,HOMMES (%),NaN,NaN,NaN,FEMMES (%),NaN,NaN,NaN,TOTAL (%),NaN,NaN,NaN,Nombre de chômeurs
4,trimestre.année,Âge,NaN,NaN,Total,Âge,NaN,NaN,Total,Âge,NaN,NaN,Total,NaN

In [36]:
# Renommer les colonnes à utiliser
chomage.rename(columns={'Unnamed: 12': 'taux_chomage'}, inplace=True)
chomage.rename(columns={'Tableau 1. Taux de chômage trimestriel au sens du BIT en France (hors Mayotte) par sexe et âge': 'trimestre'}, inplace=True)

In [37]:
print(chomage.columns)

Index(['trimestre', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4',
       'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9',
       'Unnamed: 10', 'Unnamed: 11', 'taux_chomage', 'Unnamed: 13'],
      dtype='object')

In [38]:
# Supprimer les lignes ou colonnes contenant des valeurs inutiles (nan, descriptions, etc.)
chomage = chomage.dropna(axis=1, how='all')  # Supprime les colonnes complètement vides
chomage = chomage.dropna(axis=0, how='all')  # Supprime les lignes complètement vides

In [39]:
# Supprimer les colonnes inutiles pour notre analyse
colonnes_a_supprimer = [
    'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 
    'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 
    'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 13'
]

# Supprimer les colonnes
chomage.drop(columns=colonnes_a_supprimer, inplace=True)

# Afficher les premières lignes du après suppression
chomage.head()

                                           trimestre taux_chomage
0         Données CVS en moyenne trimestrielle, en %          NaN
2  En jaune : Les séries ont été constituées à pa...          NaN
3                                                NaN          NaN
4                                    trimestre.année        Total
5                                                NaN          NaN

In [40]:
# Trouver l'index de la valeur 'T1.2000' dans la colonne 'trimestre'
index_t1_2000 = chomage[chomage['trimestre'] == 'T1.2000'].index

# Afficher l'index
print(index_t1_2000)

Index([106], dtype='int64')

In [41]:
import pandas as pd

# On supprime les premières lignes inutiles pour que les données débutent au premier trimestre  
chomage_clean = chomage.iloc[105:].reset_index(drop=True)

# Afficher les premieres lignes des données nettoyées
chomage_clean.head()

  trimestre taux_chomage
0   T1.2000          9.1
1   T2.2000          8.7
2   T3.2000          8.4
3   T4.2000            8
4   T1.2001          7.8

Nettoyage des données sur la confiance

In [42]:
confiance.head()

,Opinion des ménages-Monthly confidence consumer survey,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,Données corrigées des variations saisonnières-...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,DATE,Indicateur synthétique,Niveau de vie en France - évolution passée,Niveau de vie en France - perspectives d'évolu...,Chômage - perspectives d'évolution,Prix - évolution passée,Prix - perspectives d'évolution,Opportunité de faire des achats importants,Opportunité d'épargner,Capacité d'épargne actuelle,Situation financière personnelle - évolution p...,Situation financière personnelle - perspective...,Capacité d'épargne future
3,NaN,Synthetic index,"General economic situation, past 12 months","General economic situation, next 12 months","Unemployment, next 12 months","Consumer prices, past 12 months","Consumer prices, next 12 months","Major purchases intentions, next 12 months","Savings intentions, next 12 months",Current saving capacity,"Financial situation, past 12 months","Financial situation, next 12 months",Expected saving capacity
4,moyenne/average,100,-47.749835,-27.733798,32.585969,-13.383858,-31.095762,-15.188091,18.029779,9.656539,-20.980754,-6.560103,-7.110802

In [43]:
# Renommer les colonnes à utiliser
confiance.rename(columns={'Unnamed: 1': 'indic_confiance'}, inplace=True)
confiance.rename(columns={'Opinion des ménages-Monthly confidence consumer survey': 'date'}, inplace=True)

In [44]:
print(confiance.columns)

Index(['date', 'indic_confiance', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4',
       'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9',
       'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12'],
      dtype='object')

In [45]:
# Supprimer les colonnes inutiles pour notre analyse
colonnes_a_supprimer = [
    'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4',
       'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9',
       'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12'
]

# Supprimer les colonnes
confiance.drop(columns=colonnes_a_supprimer, inplace=True)

# Afficher les premières lignes du après suppression
confiance.head()

                                                date         indic_confiance
0  Données corrigées des variations saisonnières-...                     NaN
1                                                NaN                     NaN
2                                               DATE  Indicateur synthétique
3                                                NaN         Synthetic index
4                                    moyenne/average                     100

In [46]:
# S'assurer que la colonne 'date' est au format datetime
confiance['date'] = pd.to_datetime(confiance['date'], errors='coerce')

# Filtrer les données à partir de janvier 2000
confiance_clean =confiance[confiance['date'] >= '2000-01-01']

# Afficher les premières lignes des données filtrées
confiance_clean.head()

/tmp/ipykernel_21814/606775895.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  confiance['date'] = pd.to_datetime(confiance['date'], errors='coerce')

          date indic_confiance
204 2000-01-01      119.186742
205 2000-02-01      119.010085
206 2000-03-01      119.930046
207 2000-04-01      122.586881
208 2000-05-01      122.625812

Nettoyage de la table Evolution du PIB

On cherche à isoler des indicateurs pour l'évolution du PIB, la consommation des ménages et des APU, la formation brute de capital fixe, les importations et exportations. On fait le choix de prendre plus d'indicateurs, quitte à les éliminer par la suite.

In [47]:
ev_pib.head()

,Évolution du produit intérieur brut et de ses composantes,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,par rapport au trimestre précédent en volume en %,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Trimestre,Produit intérieur brut (PIB),Importations,Dépense de consommation des ménages,Dépense de consommation des APU1,Formation brute de capital fixe,dont :,NaN,NaN,Exportations,Contributions :,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,Entreprises non financières,ménages,APU1,NaN,Demande intérieure finale hors stocks,Variations de stocks,Commerce extérieur
4,2024-T3,0.362294,-0.684306,0.515766,0.513113,-0.84265,-1.365417,-0.887841,0.472325,-0.470732,0.212544,0.069318,0.080432

In [48]:
# Renommer les colonnes à utiliser
ev_pib.rename(columns={'Évolution du produit intérieur brut et de ses composantes': 'trimestre'}, inplace=True)
ev_pib.rename(columns={'Unnamed: 1': 'pib'}, inplace=True) 
ev_pib.rename(columns={'Unnamed: 2': 'importations'}, inplace=True) 
ev_pib.rename(columns={'Unnamed: 3': 'conso_menages'}, inplace=True) 
ev_pib.rename(columns={'Unnamed: 4': 'conso_apu'}, inplace=True) 
ev_pib.rename(columns={'Unnamed: 5': 'fbcf'}, inplace=True) 
ev_pib.rename(columns={'Unnamed: 9': 'exportations'}, inplace=True)

In [49]:
print(ev_pib.columns)

Index(['trimestre', 'pib', 'importations', 'conso_menages', 'conso_apu',
       'fbcf', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'exportations',
       'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12'],
      dtype='object')

In [50]:
# Supprimer les colonnes inutiles pour notre analyse
colonnes_a_supprimer = [
    'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8',
    'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12']

# Supprimer les colonnes
ev_pib.drop(columns=colonnes_a_supprimer, inplace=True)

# Afficher les premières lignes du après suppression
ev_pib.head()

,trimestre,pib,importations,conso_menages,conso_apu,fbcf,exportations
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,par rapport au trimestre précédent en volume en %,NaN,NaN,NaN,NaN,NaN,NaN
2,Trimestre,Produit intérieur brut (PIB),Importations,Dépense de consommation des ménages,Dépense de consommation des APU1,Formation brute de capital fixe,Exportations
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2024-T3,0.362294,-0.684306,0.515766,0.513113,-0.84265,-0.470732

On remarque que les données sont ordonnées des plus récentes aux plus anciennes, on souhaite inverser cela pour faciliter le travail avec les autres tables.

In [51]:
ev_pib = ev_pib.iloc[::-1].reset_index(drop=True)

In [52]:
# Vérification
ev_pib.head()

,trimestre,pib,importations,conso_menages,conso_apu,fbcf,exportations
0,"Source : Insee, comptes nationaux trimestriels...",NaN,NaN,NaN,NaN,NaN,NaN
1,Champ : France.,NaN,NaN,NaN,NaN,NaN,NaN
2,"Lecture : au 3e trimestre 2024, le produit int...",NaN,NaN,NaN,NaN,NaN,NaN
3,Note : données révisées ; les volumes sont mes...,NaN,NaN,NaN,NaN,NaN,NaN
4,1. Administrations publiques.,NaN,NaN,NaN,NaN,NaN,NaN

In [53]:
# Trouver l'index de la valeur '2000-T1' dans la colonne 'trimestre'
index_2000_t1 = ev_pib[ev_pib['trimestre'] == '2000-T1'].index

# Afficher l'index
print(index_2000_t1)

Index([209], dtype='int64')

In [54]:
import pandas as pd

# On supprime les premières lignes inutiles pour que les données débutent au premier trimestre de l'année 2000
ev_pib_clean = ev_pib.iloc[209:].reset_index(drop=True)

# Afficher les premieres lignes des données nettoyées
ev_pib_clean.head()

,trimestre,pib,importations,conso_menages,conso_apu,fbcf,exportations
0,2000-T1,1.011252,4.716928,1.256031,0.606497,2.244349,2.839274
1,2000-T2,1.06425,4.20051,0.772804,0.464126,0.921508,4.963057
2,2000-T3,0.780148,3.529602,0.444674,0.34475,2.53796,1.41363
3,2000-T4,0.563163,2.2326,0.132284,0.155773,0.073162,2.984615
4,2001-T1,0.57489,-1.295035,1.139891,0.125288,0.672418,0.408129

On souhaite créer une nouvelle variable qui regroupe l'évolution de la consommation des ménages et des APU.

In [55]:
ev_pib_clean['conso'] = ev_pib_clean['conso_menages'] + ev_pib_clean['conso_apu']

In [56]:
# Afficher les premieres lignes des données 
ev_pib_clean.head()

,trimestre,pib,importations,conso_menages,conso_apu,fbcf,exportations,conso
0,2000-T1,1.011252,4.716928,1.256031,0.606497,2.244349,2.839274,1.862528
1,2000-T2,1.06425,4.20051,0.772804,0.464126,0.921508,4.963057,1.23693
2,2000-T3,0.780148,3.529602,0.444674,0.34475,2.53796,1.41363,0.789424
3,2000-T4,0.563163,2.2326,0.132284,0.155773,0.073162,2.984615,0.288057
4,2001-T1,0.57489,-1.295035,1.139891,0.125288,0.672418,0.408129,1.265179

In [57]:
ipc.head()

  Évolution de l’indice des prix à la consommation        Unnamed: 1
0                                              NaN               NaN
1                                             en %               NaN
2                                            Année  Taux d'inflation
3                                             2023               4.9
4                                             2022               5.2

In [58]:
# Renommer les colonnes à utiliser
ipc.rename(columns={'Évolution de l’indice des prix à la consommation': 'année'}, inplace=True)
ipc.rename(columns={'Unnamed: 1': 'ipc_année'}, inplace=True)

In [59]:
print(ipc.columns)

Index(['année', 'ipc_année'], dtype='object')

In [60]:
ipc = ipc.iloc[::-1].reset_index(drop=True)

In [61]:
ipc.head()

                                               année ipc_année
0  Source : Insee, indices des prix à la consomma...       NaN
1  Champ : France hors Mayotte, ensemble des ména...       NaN
2  Lecture : en moyenne, sur l’année 2023, les pr...       NaN
3                                               1991       3.2
4                                               1992       2.4

In [62]:
# Trouver l'index de la valeur '2000' dans la colonne 'année'
index_2000 = ipc[ipc['année'] == '2000'].index

# Afficher l'index
print(index_2000)

Index([], dtype='int64')

In [63]:
# Convertir la colonne 'year' en datetime
ipc['année'] = pd.to_datetime(ipc['année'], format='%Y', errors='coerce')

# Filtrer les données à partir de l'année 2000
ipc = ipc[ipc['année'] >= '2000-01-01']

# Afficher les premières lignes des données filtrées
print(ipc)

        année ipc_année
12 2000-01-01       1.7
13 2001-01-01       1.6
14 2002-01-01       1.9
15 2003-01-01       2.1
16 2004-01-01       2.1
17 2005-01-01       1.7
18 2006-01-01       1.7
19 2007-01-01       1.5
20 2008-01-01       2.8
21 2009-01-01       0.1
22 2010-01-01       1.5
23 2011-01-01       2.1
24 2012-01-01         2
25 2013-01-01       0.9
26 2014-01-01       0.5
27 2015-01-01         0
28 2016-01-01       0.2
29 2017-01-01         1
30 2018-01-01       1.8
31 2019-01-01       1.1
32 2020-01-01       0.5
33 2021-01-01       1.6
34 2022-01-01       5.2
35 2023-01-01       4.9

In [64]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# URL de la page
url = "https://www.abcbourse.com/graphes/eod/PX1p"

# Envoyer une requête GET à la page
response = requests.get(url)
response.raise_for_status()  # Vérifie les erreurs

# Parser le contenu HTML
soup = BeautifulSoup(response.content, 'html.parser')

# Rechercher les sections contenant les données (à adapter selon l'analyse de la page)
# Exemple hypothétique : <table> ou <div> contenant les données du graphique
data_table = soup.find('table', {'class': 'historique'})  # Remplacez par la classe exacte

# Extraire les lignes de la table
rows = data_table.find_all('tr')

# Initialiser une liste pour stocker les données
data = []

# Parcourir chaque ligne pour extraire les colonnes
for row in rows[1:]:  # Ignorer l'en-tête
    cols = row.find_all('td')
    date = cols[0].text.strip()  # La première colonne contient la date
    open_price = cols[1].text.strip()
    high_price = cols[2].text.strip()
    low_price = cols[3].text.strip()
    close_price = cols[4].text.strip()
    data.append([date, open_price, high_price, low_price, close_price])

# Convertir en DataFrame
df = pd.DataFrame(data, columns=['Date', 'Open', 'High', 'Low', 'Close'])

# Afficher les premières lignes du tableau
print(df)

# Sauvegarder les données dans un fichier CSV
df.to_csv('cac40_data.csv', index=False)

AttributeError: 'NoneType' object has no attribute 'find_all'

In [ ]:
import requests
from bs4 import BeautifulSoup

# URL de la page
url = "https://www.abcbourse.com/graphes/eod/PX1p"

# Envoyer une requête GET à la page
response = requests.get(url)
response.raise_for_status()  # Vérifie les erreurs

# Parser le contenu HTML
soup = BeautifulSoup(response.content, 'html.parser')

# Affiche une portion du HTML pour inspection
print(soup.prettify()[:1000])  # Affiche les 1000 premiers caractères du HTML

# Recherchez la table ou l'élément contenant les données (après inspection)
data_table = soup.find('table', {'class': 'historique'})  # Exemple de classe
if data_table is None:
    print("Table non trouvée. Vérifiez la structure HTML ou la classe.")

<!DOCTYPE html>
<html lang="fr">
 <head>
  <meta charset="utf-8"/>
  <meta content="width=device-width, initial-scale=1" name="viewport">
   <link href="/apple-icon.png" rel="apple-touch-icon"/>
   <link href="/android-icon-192x192.png" rel="icon" sizes="192x192" type="image/png"/>
   <link href="/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png"/>
   <link href="/css2/v127w.min.css" rel="stylesheet" type="text/css">
    <title>
     Cac 40 - graphique boursier historique de 1 jour à 25 ans
    </title>
    <meta content="Cac 40, graphique historique - logiciel d'analyse technique de bourse en ligne, paramétrable avec sauvegarde de votre travail - affichage de 1 jour à 25 ans" name="description"/>
    <link href="/abcchart/chart22.min.css" rel="stylesheet">
     <script>
      window.dataLayer = window.dataLayer || []; window.dataLayer.push({ advertisement: { page: { pageCategory: "marches"}}});
     </script>
     <script charset="utf-8" src="https://cache.consentframework.
Table non trouvée. Vérifiez la structure HTML ou la classe.

In [1]:
pip install selenium

Requirement already satisfied: selenium in /opt/conda/lib/python3.12/site-packages (4.27.1)
Requirement already satisfied: urllib3<3,>=1.26 in /opt/conda/lib/python3.12/site-packages (from urllib3[socks]<3,>=1.26->selenium) (2.2.3)
Requirement already satisfied: trio~=0.17 in /opt/conda/lib/python3.12/site-packages (from selenium) (0.27.0)
Requirement already satisfied: trio-websocket~=0.9 in /opt/conda/lib/python3.12/site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in /opt/conda/lib/python3.12/site-packages (from selenium) (2024.8.30)
Requirement already satisfied: typing_extensions~=4.9 in /opt/conda/lib/python3.12/site-packages (from selenium) (4.12.2)
Requirement already satisfied: websocket-client~=1.8 in /opt/conda/lib/python3.12/site-packages (from selenium) (1.8.0)
Requirement already satisfied: attrs>=23.2.0 in /opt/conda/lib/python3.12/site-packages (from trio~=0.17->selenium) (24.2.0)
Requirement already satisfied: sortedcontainers in /opt/conda/lib/python3.12/site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in /opt/conda/lib/python3.12/site-packages (from trio~=0.17->selenium) (3.10)
Requirement already satisfied: outcome in /opt/conda/lib/python3.12/site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in /opt/conda/lib/python3.12/site-packages (from trio~=0.17->selenium) (1.3.1)
Requirement already satisfied: wsproto>=0.14 in /opt/conda/lib/python3.12/site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: pysocks!=1.5.7,<2.0,>=1.5.6 in /opt/conda/lib/python3.12/site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in /opt/conda/lib/python3.12/site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
from selenium import webdriver
from selenium.webdriver.common.by import By
import pandas as pd

# Assurez-vous que Safari WebDriver est activé dans les préférences de Safari

# Configurez Safari WebDriver (pas besoin de spécifier de chemin, il est natif sur macOS)
driver = webdriver.Safari()

# Ouvrez la page
url = "https://www.abcbourse.com/graphes/eod/PX1p"
driver.get(url)

# Attendez que la page charge complètement (vous pouvez ajuster cela selon vos besoins)
driver.implicitly_wait(10)

# Essayez d'extraire les données (adaptez en fonction de la structure de la page)
rows = driver.find_elements(By.TAG_NAME, "tr")

# Traitez les lignes pour récupérer les données
data = []
for row in rows:
    cols = row.find_elements(By.TAG_NAME, "td")
    if cols:  # Assurez-vous que la ligne contient des colonnes
        data.append([col.text for col in cols])

# Convertir en DataFrame
df = pd.DataFrame(data, columns=['Date', 'Open', 'High', 'Low', 'Close'])  # Adaptez les colonnes
print(df)

# Fermez le navigateur
driver.quit()

NoSuchDriverException: Message: Unable to obtain driver for safari; For documentation on this error, please visit: https://www.selenium.dev/documentation/webdriver/troubleshooting/errors/driver_location